@import "tailwindcss";



.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background:transparent;
  filter: blur(0px) contrast(10) hue-rotate(300deg);
}
.loader:before,
.loader:after{ 
  content: "";
  grid-area: 1/1; 
  width: 40px;
  height: 40px;
  background:#E25E63;
  animation: l7 2s infinite;
  border-radius: 5px;
}
.loader:after{ 
  animation-delay: -1s;
}
@keyframes l7{
  0%   {transform: translate(   0,0)}
  25%  {transform: translate(100%,0)}
  50%  {transform: translate(100%,100%)}
  75%  {transform: translate(   0,100%)}
  100% {transform: translate(   0,0)}
}